{##post.html#}
{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="content">
{#<p>Hello World!</p>#}
                <h2>{{ post.title }}</h2>
                    <p>
                        Time:  <a class="post-author" href="#">{{ post.date_time|date:"Y /m /d"}}</a> <a class="post-category" href="#">{{ post.category }}</a>
                    </p>

                    <p>
                        {{ post.content | custom_markdown }}
                    </p>
        {% include "duoshuo.html" %}
</div><!-- /.blog-post -->
{% endblock %}